// Changing the theme colors
// $primary: #3ec89d;
// $secondary: #3ab7ff;
// $success: #65ff9f;
// $info: #7164ff;
// $warning: #ff9f65;
// $danger: #ff457b;	
// $dark: #18181d;

$breakpoint-mobile: 567px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;


@import '../node_modules/bootstrap/scss/bootstrap.scss'; 

html, body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	overflow-x: hidden;
	font-size: 1.1rem;
	// font-size: calc(.65em + .5vw);
	color: #333333;
}

ul li {
	list-style: none;
}

h1 {
	// padding-top: 50px;
	// padding-bottom: 50px;
}


.sub-head-purple {
	text-transform: uppercase;
	color: #071b6c;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.divider {
  content: "";
  background-color: #071b6c;
  width: 1px;
  height: 100%;
}

.contain-wrap {
	max-width: 1000px;
}


nav {
	z-index: 9999;
	// position: fixed;
}

.remove-padding {
	padding-left: 0; 
	padding-right: 0; 
	margin-left: 0; 
	margin-right: 0
}

.navbar {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem; 
	background-color: #ebebeb;
}

.navbar-nav {
	margin: 2rem 0 0 .5rem;

	@media (min-width: $breakpoint-tablet) {
		margin: 0;
	}


}
.navbar-nav .navbar-collapse {
	justify-content: flex-end;
}

.navbar-brand {
	padding-left: 1rem;
}

.nav-item {
	padding: 0 .8rem;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	// font-size: .8rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: box-shadow 0.15s ease-in-out;
}






.btn {
	z-index: 9999;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.btn-outline-light {
	border-radius: 0;
	border-width: 3px;
}








.carousel {
	@media (min-width: $breakpoint-tablet) {
  
	}
}

.carousel-inner > .carousel-item {
   -webkit-transition: -webkit-transform 3s ease-in-out;
   -o-transition: -o-transform 3s ease-in-out;
   transition: transform 3s ease-in-out;
   -webkit-backface-visibility: visible;
   backface-visibility: visible;
}

.carousel .carousel-item {
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0);
	height: 80vw;

	@media (min-width: $breakpoint-tablet) {
		height: 60vw;
	}
	@media (min-width: $breakpoint-desktop) {
		height: 48vw;
	}
  }

.carousel-inner {
    height: 100%;
}

.carousel, .carousel-item, .active {
    height: 100%;
	// margin-top: -52px;
}
  
.carousel-item img {
	width: 100%;
    height: 100%;
	position: absolute;
	object-fit:cover;
	top: 0;
	left: 0;
	min-height: 50vw;
}

.carousel-item video {   
	width: 100%;
    height: 100%;
	position: absolute;
	object-fit:cover;
	top: 0;
	left: 0;
	min-height: 50vw;
}

.carousel-indicators {
	z-index: 9000;
}
.carousel-indicators {
	margin-bottom: 4%;
	@media (min-width: $breakpoint-tablet) {
		margin-bottom: 3%;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-bottom: 2%;
	}
}

.carousel-indicators > li {
	margin: 0 .5rem;
	border-radius: 50%;
	width:.75rem;
  	height:.75rem;
  	background-color: rgba($color: #ffffff, $alpha: 0.65);
  	background-color: #fff;
	z-index: 1200;

	@media (min-width: $breakpoint-tablet) {
		width:1rem;
		height:1rem;
	}
	@media (min-width: $breakpoint-desktop) {
		width:1.25rem;
		height:1.25rem;
	}
}

video {
	margin: 0;
	padding: 0;
}

.video-fluid {
	width: 100%;
	height: auto;
}

.purple-overlay {
	z-index: 50;
	// position: absolute;
	margin-top: 5%;
	width: 100%;
}

.headline-overlay {
	z-index: 100;
	margin-top: 2%;
	width: 100vw;
}

.about-carousel.carousel .about-carousel.carousel-item {
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0);
	height: 60vw;

	@media (min-width: $breakpoint-tablet) {
		height: 40vw;
	}
	@media (min-width: $breakpoint-desktop) {
		height: 40vw;
	}
  }




.section-title {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 24px;
	font-weight:bold;

	@media (min-width: $breakpoint-tablet) {
		font-size: 24px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 28px;
	}
}

.hero-description {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 24px;
	font-weight:bold;

	@media (min-width: $breakpoint-tablet) {
		font-size: 24px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 24px;
	}
}

.hero-headline {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 20px;
	font-weight:bold;

	@media (min-width: $breakpoint-tablet) {
		font-size: 36px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 48px;
	}
}

.headline {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	// color:#fff;
	font-size: 24px;
	font-weight:bold;

	@media (min-width: $breakpoint-tablet) {
		font-size: 36px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 48px;
	}
}

.uppercase {
	text-transform: uppercase;
}







.about {
	padding-top: 20px;
	background-color: #071b6c;
	height: 50vw;

	.about-hero {
		position: relative;
	}

	.about-overlay {
		width: 100%;
		margin-top: -20px;
	}

	.about-headline {
		position: absolute;
		width: 100vw;
		top: 0;
		left: 0;
	}
	


}

.where-we-started {
	p {
		font-size: 1.3rem;
	}
}

.who-we-are {
	background-color: #ebebeb;
	padding: 0 10%;
	margin: auto;
}

.hero-small {
	position: relative;
	height: 30vw;
	min-height: 250px;
}

.hero-small-img {
	width: 100%;
    height: 100%;
	position: absolute;
	object-fit:cover;
	top: 0;
	left: 0;
	// min-height: 50vw;
}

.about-list {
	// padding-right: 30px;
	display: flex;
	flex-direction: column;
	padding-right: 30px;
	font-size: 1.1rem;
	align-content: center;
	p {
		margin: 0;
		font-weight: bold;
	}

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.mw-1000 {
	max-width: 1000px;
	p {
		margin: 0;
	}

}
.wwa-list {
	display: flex;
	flex-direction: column;
	padding-right: 30px;
	font-size: 1.1rem;
	
	p {
		padding-bottom: 1rem;
	}

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
		justify-content: space-between;
		font-size: .9rem;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 1.1rem;
	}
	
}





.awards {
	padding-top: 30px;
	padding-bottom: 40px;
	//padding: 20px 0;
	// height: 30vw;
	background-color: #333;

	p{
		color: #fff;
		font-size: 110%;
		font-weight: bold;
		line-height: 31px;
	}
}

footer {
	background-color: #ebebeb;

	.footer-wrap {
		max-width: 1600px;
	}
	p {
		font-size: 1rem;	
	}
	ul {
		margin: auto;
		padding-left: 0;
		justify-content: center;
	}
	a {
		align-self: center;
	}
	li {
		list-style: none;
		padding: .5rem;
	}
	.logo {
		width: 200px;
	}
	.social {
		padding-bottom: 2rem;
		
		img {
			margin-top: 50px;
			width: 3rem;
		}
	}
	.footer-nav {
		font-weight: 600;
		padding: 3rem 0 3rem 2rem;
	}
}


.green {
	color: #c6e02d;
}





