// Changing the theme colors
// $primary: #3ec89d;
// $secondary: #3ab7ff;
// $success: #65ff9f;
// $info: #7164ff;
// $warning: #ff9f65;
// $danger: #ff457b;	
// $dark: #18181d;

$breakpoint-mobile: 567px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-xl: 1600px;


@import '../node_modules/bootstrap/scss/bootstrap.scss'; 

html, body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	overflow-x: hidden;
	font-size: 1.1rem;
	// font-size: calc(.65em + .5vw);
	color: #333333;
}

ul li {
	list-style: none;
}

h1 {
	font-weight: bold;
}



//==============================HELPERS==============================//


@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}



.sub-head-purple {
	text-transform: uppercase;
	color: #071b6c;
	font-weight: bold;
}

.sub-head-purple-c {
	// text-transform: uppercase;
	color: #071b6c;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.divider {
  content: "";
  background-color: #071b6c;
  width: 1px;
  height: 100%;
	margin: 0 20px;
}


.practice {
  display: flex;
	flex-direction: column;
  justify-content: space-between;
	padding: 0 60px;

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
	}

}


.contain-wrap {
	max-width: 800px;
}

.remove-padding {
	padding-left: 0; 
	padding-right: 0; 
	margin-left: 0; 
	margin-right: 0
}

.mw-1000 {
	max-width: 1000px;
	margin: auto;
	p {
		margin: 0;
		padding: 0 20px;

		@media (min-width: $breakpoint-tablet) {
			padding: 0 50px;
		}
	}
}

.mw-1600 {
	max-width: 1600px;;
}



//==============================NAV==============================//




nav {
	z-index: 9999;
	// position: fixed;
}

.navbar {
	padding-top: .5rem;
	padding-bottom: .5rem; 
	background-color: #ebebeb;
}

.navbar-nav .navbar-collapse {
	justify-content: flex-end;
}

.navbar-brand {
	padding: .7rem 0 .7rem .7rem;
	width: 180px;
}

.nav-item {
	padding: 0 .8rem;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: .9rem;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
	color:rgba(69,34,172,1);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color:rgba(69,34,172,1);
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}


//==============================BUTTONS==============================//


.btn {
	z-index: 9999;
	font-family: 'Montserrat', sans-serif;
	font-size: .75rem;
	font-weight: 600;
	text-transform: uppercase;

	@media (min-width: $breakpoint-tablet) {
		font-size: 1rem;
	}
}

.btn-outline-light {
	border-radius: 0;
	border-width: 3px;
}

.btn-outline-dark {
	border-radius: 0;
	border-width: 3px;
}



//==============================HEROS==============================//



.carousel {
	@media (min-width: $breakpoint-tablet) {
  
	}
}

.carousel-inner > .carousel-item {
   -webkit-transition: -webkit-transform 3s ease-in-out;
   -o-transition: -o-transform 3s ease-in-out;
   transition: transform 3s ease-in-out;
   -webkit-backface-visibility: visible;
   backface-visibility: visible;
}

.carousel .carousel-item {
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0);
	transform: translateZ(0);;
	height: 80vw;

	@media (min-width: $breakpoint-tablet) {
		height: 60vw;
	}
	@media (min-width: $breakpoint-desktop) {
		height: 48vw;
	}
  }

.carousel-inner {
    height: 100%;
}

.carousel, .carousel-item, .active {
    height: 100%;
	// background-color: rgba(0,0,0,1);
	// margin-top: -52px;
}
  
.carousel-item img {
	width: 100%;
    height: 100%;
	position: absolute;
	object-fit:cover;
	top: 0;
	left: 0;
}

.carousel-item video {   
	width: 100%;
    height: 100%;
	position: absolute;
	object-fit:cover;
	top: 0;
	left: 0;
	min-height: 50vw;
}

.carousel-item-dark:after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.4);
  }


.carousel-indicators {
	margin-bottom: 4%;
	@media (min-width: $breakpoint-tablet) {
		margin-bottom: 3%;
	}
	@media (min-width: $breakpoint-desktop) {
		margin-bottom: 2%;
	}
}

.carousel-indicators > li {
	margin: 0 .35rem;
	border-radius: 50%;
	width:.65rem;
  height:.65rem;
  background-color: rgba($color: #ffffff, $alpha: 0.65);
  // background-color: #fff;

	@media (min-width: $breakpoint-tablet) {
		margin: 0 .4rem;
		width:.85rem;
		height:.85rem;
	}
}

video {
	margin: 0;
	padding: 0;
}

.video-fluid {
	width: 100%;
	height: auto;
}

.purple-overlay {
	z-index: 50;
	margin-top: 5%;
	width: 100%;
}

.headline-overlay {
	z-index: 100;
	// margin-top: 2%;
	width: 100vw;
}

.about-carousel.carousel .about-carousel.carousel-item {
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	height: 60vw;
	// min-height: none;

		@media (min-width: $breakpoint-tablet) {
			height: 30vw;
		}
		@media (min-width: $breakpoint-desktop) {
			height: 30vw;
		}
  }




.section-title {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 24px;
	font-weight:bold;

	@media (min-width: $breakpoint-tablet) {
		font-size: 24px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 28px;
	}
}

.hero-description {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: .8rem;
	font-weight:bold;
	margin-bottom: 10px;

	@media (min-width: $breakpoint-tablet) {
		font-size: 1.25rem;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 1.5rem;
	}
}

.hero-headline {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 1.25rem;
	font-weight:bold;
	text-align: center;
	padding: 0 20px;
	margin-bottom: 10px;
	max-width: 500px;

	@media (min-width: $breakpoint-tablet) {
		font-size: 2rem;
		max-width: 600px;
		padding: 0;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 2.25rem;
		max-width: 800px;
	}
}

.headline {
	z-index: 1000;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight:bold;

	@media (min-width: $breakpoint-tablet) {
		font-size: 24px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 32px;
	}
}

.hero-small {
	position: relative;
	height: 30vw;
	min-height: 250px;
}

.hero-small-img {
	width: 100%;
    height: 100%;
	position: absolute;
	object-fit:cover;
	top: 0;
	left: 0;
	// min-height: 50vw;
}

.hero-large {
	position: relative;
	height: 50vw;
	min-height: 250px;

	a {
		display: none;

		@media (min-width: $breakpoint-tablet) {
			display: flex;
		}
	}
}

.hero-small-lrg {
	width: 100%;
  height: 100%;
	position: absolute;
	object-fit:cover;
	top: 0;
	left: 0;
	// min-height: 50vw;
}

.sub-head {
	color: #fff;
	z-index: 200;
	text-align: center;
	padding: 0 20px;

	@media (min-width: $breakpoint-tablet) {
		padding: 0 20%;
	}
}






//==============================ABOUT==============================//



.about {
	padding-top: 20px;
	background-color: #071b6c;
	height: 50vw;

	.about-hero {
		position: relative;
	}

	.about-overlay {
		width: 100%;
		margin-top: -20px;
	}

	.about-headline {
		position: absolute;
		// width: 100vw;
		width: 100vw;
		height: 100%;
		top:-10%;
		left: 0;
		z-index: 100;
	}
	


}

.about-carousel .hero-headline {
	font-size: 1rem;

	@media (min-width: $breakpoint-tablet) {
		font-size: 1.25rem;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 2rem;
	}
}

.about-experience {
	padding: 50px 0;
	h1 {
		padding: 0 10%;
		@media (min-width: $breakpoint-tablet) {
			padding: 0 15%;
		}
		@media (min-width: $breakpoint-desktop) {
			padding: 0 20%;
		}
	}
}

.where-we-started {
	padding: 50px 0;
	p {
		font-size: 1rem;
	}
}

.who-we-are {
	padding: 50px 0;
	background-color: #ebebeb;
	// padding: 0 10%;
	// margin: auto;
	font-size: 1rem;
}

.about-list {
	display: flex;
	flex-direction: column;
	font-size: .9rem;
	align-content: center;

	h5 {
		font-weight: bold;
	}

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
		justify-content: space-evenly;
	}
}



.wwa-inner {
	max-width: 900px;
}

.wwa-list {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	
	p {
		padding-bottom: 1rem;
	}

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
		justify-content: space-between;
		font-size: .9rem;
		padding-right: 45px;
	}
	@media (min-width: $breakpoint-desktop) {
		font-size: 1.1rem;
	}
	
}





.awards {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #333;

	.client {
		width: 50%;
		max-width: 250px;
		vertical-align: text-bottom;
		
		@media (min-width: $breakpoint-tablet) {
			width: 60%;
		}
	}

	.client-bot {
		margin-top: -60px;

		@media (min-width: $breakpoint-tablet) {
			margin-top: 0;
		}
	}

	.client-mid {
		margin-top: 20px;
		
		@media (min-width: $breakpoint-tablet) {
			margin-top: 0;
		}
	}

	p{
		color: #fff;
		font-size: 110%;
		font-weight: bold;
		line-height: 31px;
	}
}

//==============================WORK==============================//


.work {
	img {
		padding: 50px 20px;

		@media (min-width: $breakpoint-tablet) {
			padding: 100px 100px;
		}

	}

	p {
		padding: 0;

		@media (min-width: $breakpoint-tablet) {
			padding: 0 120px;
		}
	}

	ul li h4 {
		padding: 1rem 0;
		color: #071b6c;
	}
}


//=========================WORK HOVER==============================//


.work-link {
	text-decoration: none;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
	height: 35vw;
	max-height: 500px;
	text-align: center;
	display: flex;
  justify-content: center;
  flex-direction: column;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
	opacity: 1;

	@media (min-width: $breakpoint-tablet) {
		opacity: 0;
	}
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
	object-fit: cover;
}

.hover-content {
  position: relative;
  z-index: 2000;
}

.hover-1 img {
  width: 100%;
	height: 100%;
  transition: all 0.5s;
	object-fit: cover;
}

.hover h3 {
	font-size: 1rem;
	padding-bottom: 10px;
}

.hover p {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 32px;
}

.hover-1-content {
	margin-top: 60%;
  z-index: 99;
  transition: all 0.5s;
	text-align: center;

	@media (min-width: $breakpoint-tablet) {
		margin-top: 60%;
	}
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
	z-index: 99;

	@media (min-width: $breakpoint-tablet) {
		background: rgba(7, 27, 108, 0.5);
	}
}

.hover-1-title {
  transform: translateY(0.5rem);
  transition: all 0.5s;
  opacity: 1;
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight:bold;

	@media (min-width: $breakpoint-tablet) {
		font-size: 1.5rem;
		opacity: 0;
	}
}

.hover-1-description {
  transform: translateY(0.8rem);
  transition: all 0.8s;
  opacity: 1;
	color: #fff;
	text-align: center;
	font-size: 22px;

	@media (min-width: $breakpoint-tablet) {
		opacity: 0;
		font-size: 26px;
	}

	@media (min-width: $breakpoint-desktop) {
		opacity: 0;
		font-size: 32px;
	}
}

.hover-1:hover .hover-1-content {
  margin-top: 60%;
}

.hover-1:hover .hover-1-description, .hover-1:hover .hover-1-title {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
	transform:scale(1.1);
}

.hover-1:hover .hover-overlay {
  opacity: 1;
}



//==============================CAREERS==============================//


.careers {
	p {
		padding: 0 10px;

		@media (min-width: $breakpoint-tablet) {
			padding: 0 20px;
		}

		@media (min-width: $breakpoint-desktop) {
			padding: 0 50px;
		}
	}
}

.postings {
	width: 100%;
	height: 500px;
	background-color: #eee;
}



//==============================PULSE==============================//


.pulse {
	background-color: #eee;
}

.pulse-article {
	// max-height: 45vh;
	overflow: hidden;
	background-color: #fff;
}

.pulse-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	padding: 30px 80px;
}

.pulse-image {
	background-color: bisque;
	width: 100%;
	height: 100%;
	object-fit: cover;

	// max-height: 35vh;
}

//==============================CONTACT==============================//


.form-control {
	border-radius: 0;
}



//==============================FOOTER==============================//


footer {

	background-color: #ddd;

	.footer-wrap {
		max-width: 1600px;
	}
	p {
		font-size: .8rem;	
	}
	ul {
		margin: auto;
		padding-left: 0;
		justify-content: center;
	}
	a {
		align-self: center;
	}
	li {
		
		list-style: none;
		padding: .5rem;
	}
	.logo {
		width: 200px;
	}
	.social {
		padding-bottom: 2rem;
		
		img {
			margin-top: 50px;
			width: 2.4rem;
		}
	}
	.footer-nav {
		
		a {
			color: rgba(0,0,0,0.7);
			text-decoration: none;
			&:hover {
				color: rgba(0,0,0,1);
			}
		}

		font-size: .9rem;
		font-weight: 600;
		padding: 3rem 0 3rem 2rem;
	}
}


.green {
	color: #c6e02d;
}




